.blog-post-page_container {
  width: 100vw;
  margin-top: 24vh;
}

.blog-post_container {
  width: 50vw;
  margin: 20vh 0;
  padding: 0 1vw;
}

.blog-post-header_container {
  margin-bottom: 4vh;
}

.blog-post-header_container button {
  padding: 0;
  background-color: transparent;
  font-family: "Roboto Mono", monospace;
  border: none;
}

.blog-post-header_container button:hover {
  color: var(--red);
}

.blog-post-content_container ul {
  list-style: none;
  padding: 0;
}

.blog-post-image_container {
  width: 100%;
  margin: 12px 0;
}

.blog-post-content_container img {
  max-width: 100%;
}
