.footer-mobile_container {
  width: 100vw;
  height: 20vh;
  padding: 0 6vw;
  margin: 6vh 0;
}

.footer-text-mobile_container p,
.footer-mobile_container a {
  font-size: var(--font-s);
}

.hi {
  width: 100%;
}

.hello {
  width: 100%;
  height: 100%;
}
