.footer-mobile_container {
  width: 96vw;
  height: 20vh;
  padding: 4vw;
}

.footer-social-media-mobile_wrapper {
  width: 80%;
}

.footer-social-media-mobile_container {
  width: 80%;
}

.footer-social-media-icon-mobile_container {
  max-width: 20px;
  max-height: 20px;
  min-width: 16px;
  min-height: 16px;
  margin-right: 4px;
}

.footer-social-media-icon-mobile_container img {
  width: 100%;
  height: 100%;
}
