.footer-mobile_container {
  width: 96vw;
  height: 20vh;
  padding: 4vw;
  font-size: 12px;
}

.footer-social-media-mobile_wrapper {
  gap: 16px;
}

.footer-social-media-mobile_container {
  width: 100%;
}

.footer-social-media-icon-mobile_container {
  width: 32px;
  height: 30px;
  margin-right: 4px;
}

.instagram img {
  width: 72%;
  height: 72%;
}

.youtube img {
  width: 80%;
  height: 80%;
}
