.subscribe-page_container-mobile {
  width: 100vw;
  height: 100vh;
}

.subscribe-form-mobile {
  width: 96vw;
  height: 4vh;
  margin-top: 30vh;
  padding-bottom: 6vh;
  border-bottom: solid 1px black;
}

.subscribe-form-mobile input {
  border: none;
  background-color: transparent;
}

.subscribe-form-mobile input[type="submit"]:hover {
  color: var(--red);
}
