.header_container {
  width: 100vw;
  height: 24vh;
  padding: 0 40px;
  position: fixed;
  top: 0;
}

.navbar_container {
  width: 25vw;
  /* border: green 1px solid; */
}

.navbar_container ul {
  padding: 0 1vw;
  list-style: none;
  min-width: 100%;
  height: 100%;
  margin: 0;
  /* border: red 1px solid; */
}

.navBtn-item {
  min-width: 100%;
  /* border: blue solid 1px; */
}

.dot {
  width: auto;
  /* border: red solid 1px; */
}

.navBtn-item button {
  min-width: 100%;
  height: 100px;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  font-size: var(--font-xs);
  background-color: transparent;
  /* border: black solid 1px; */
}

.active,
.navBtn-item button:hover {
  border: none;
  border-bottom: black solid 1px;
}

.inactive {
  border: none;
  border-bottom: transparent solid 1px;
}
