.blog-post-page_container-mobile {
  width: 100vw;
  height: 100vh;
}

.blog-post_container-mobile {
  width: 96vw;
  margin-top: 30vh;
  margin-bottom: 8vh;
  padding: 0 1vw;
}

.blog-post-header_container-mobile {
  margin-bottom: 8vh;
}

.blog-post-header_container-mobile button {
  padding: 0;
  background-color: transparent;
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
  border: none;
}
