.blog-page_container-mobile {
  width: 100vw;
}

.blog-list_container-mobile {
  width: 80vw;
  padding: 0 1vw;
}

.blog-logo_container-mobile {
  width: 30vw;
  height: 30vh;
  position: relative;
  left: 32vw;
  top: 14vh;
  z-index: 1;
}

.blog-logo_container-mobile img {
  max-width: 100%;
  max-height: 100%;
}
