.header-mobile_container {
  width: 100vw;
  height: 20vh;
  padding: 4vw;
  border: 1px red solid;
}

.header-mobile_container h1 {
  font-size: var(--font-s);
}

.header-mobile_container button {
  border: none;
  background-color: transparent;
  font-size: var(--font-s);
}

.header-mobile_container button:hover {
  color: var(--red);
}

.nav-page_container {
  width: 100vw;
  height: 80vh;
  background-color: var(--red);
  font-size: var(--font-s);
}

.nav-page_container ul {
  list-style: none;
  padding: 0;
}

.nav-page_navBtn-item button {
  background-color: transparent;
  border: none;
}

.nav-page-dot {
  height: 80px;
}
