.about-page_container {
  width: 100vw;
  height: 80vh;
  overflow: scroll;
}

.about-text_container {
  width: 50vw;
  margin-top: 20vh;
  font-size: var(--font-s);
  line-height: 2em;
}

.about-text_container p {
  margin-bottom: var(--font-m);
}

.about-logo_container {
  max-width: 200px;
  max-height: 200px;
  position: relative;
  left: 20vw;
  top: 4vh;
  z-index: 1;
}

.about-img_container {
  width: 90vw;
}

.about-img_container img {
  max-width: 100%;
}
