.header_container {
  width: 100vw;
  height: 24vh;
  padding: 40px;
  position: fixed;
  top: 0;
}

.navbar_container {
  width: 25%;
  height: 100%;
  margin: 0;
  padding: 20px;
  list-style: none;
}

.navBtn-item {
  width: 100%;
}

.dot {
  width: 32px;
}

.navBtn-item button {
  height: 60px;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  font-size: var(--font-xs);
  background-color: transparent;
}

.active {
  border: none;
  border-bottom: black solid 1px;
}

.inactive {
  border: none;
}
