.header_container {
  width: 100vw;
  height: 20vh;
}

.navbar_container {
  width: 40%;
  height: 100%;
  margin: 0;
  padding: 20px;
  list-style: none;
}

.navBtn-item {
  width: 100%;
}

.dot {
  width: 60px;
}

.navBtn-item button {
  height: 60px;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  background-color: transparent;
}

.active {
  border: none;
  border-bottom: black solid 1px;
}

.inactive {
  border: none;
}
