.blog-page_container {
  width: 100vw;
  margin-top: 24vh;
}

.blog-list_container {
  width: 50vw;
  margin: 20vh 0;
  border: 1px solid red;
}

.blog-list-header_container {
  height: 8vh;
  border: 1px blue solid;
}

.blog-list-header_container button {
  padding: 0;
  background-color: transparent;
  font-family: "Roboto Mono", monospace;
  font-size: var(--font-xs);
  border: none;
}

.blog-list {
  padding: 0;
  list-style: none;
}

.blog-img_container {
  width: 96vw;
}

.blog-img_container img {
  max-width: 100%;
}

.blog-logo_container {
  width: 30vw;
  height: 30vh;
  position: relative;
  left: 32vw;
  top: 14vh;
  z-index: 1;
}

.blog-logo_container img {
  max-width: 100%;
  max-height: 100%;
}
