@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"); /* font-family: 'Roboto Mono', monospace */

* {
  box-sizing: border-box;
}

html {
  --font-xs: 0.8vw;
  --grey-01: #f2f2f2;
  --red: #ef0000;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  font-size: var(--font-xs);
  background-color: var(--grey-01);
}

button {
  cursor: pointer;
  letter-spacing: 0.1em;
  line-height: 2em;
}

input {
  font-family: "Roboto Mono", monospace;
  font-size: var(--font-xs);
  cursor: pointer;
  letter-spacing: 0.1em;
  line-height: 2em;
}

input:focus {
  outline: none;
}

p {
  letter-spacing: 0.1em;
  line-height: 2em;
}

a {
  cursor: pointer;
  color: black;
  text-decoration: none;
  letter-spacing: 0.1em;
  line-height: 2em;
}

a:hover {
  color: var(--red);
}

/* LAYOUT */
.grid-columns_two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-columns_two-extend-one {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.grid-columns_two-extend-auto {
  display: grid;
  grid-template-columns: 1fr auto;
}

.grid-columns_four {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.justify-items_start {
  display: grid;
  justify-items: start;
}

.justify-items_center {
  display: grid;
  justify-items: center;
}

.justify-items_end {
  display: grid;
  justify-items: end;
}

.align-items_center {
  display: grid;
  align-items: center;
}

.align-items_end {
  display: grid;
  align-items: end;
}

.place-items_center {
  display: grid;
  place-items: center;
}
